# ===========================
# Eclipse
# ===========================
.classpath
.project
.settings/

# ===========================
# Build directories
# ===========================
bin/
target/

# ===========================
# Java
# ===========================
*.class
*.log

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IntelliJ / VSCode (si jamais)
# ===========================
.idea/
*.iml

.vscode/
!.vscode/settings.json
